#section_two .top {
	margin-top: -50px;
	height: 20%
}

#section_two .top .mini {
	height: 20px
}

#section_two .top .mini span {
	margin-top: 9px;
	height: 1px;
	background-color: #fff;
	display: block;
	width: 7%;
	float: left
}

#section_two .top .mini span:nth-of-type(1) {
	margin-left: 36%
}

#section_two .top .mini .one {
	height: 20px;
	line-height: 20px;
	text-align: center;
	float: left;
	width: 14%;
	color: #fff;
	font-family: "å¾®è½¯é›…é»‘"
}

#section_two .top .two {
	text-align: center;
	margin-top: 30px;
	color: #fff;
	height: 40px;
	font-size: 40px;
	font-family: "å¾®è½¯é›…é»‘"
}

#section_two .message {
	height: 206px;
	width: 656px;
	margin: 0 auto;
	margin-top: 100px
}

#section_two .message .face_img {
	position: relative;
	display: block;
	height: 200px;
	width: 200px;
	border: 3px solid #fff;
	float: left;
	margin-right: 50px
}

#section_two .message .face_img img {
	position: absolute;
	height: 100%;
	display: none
}

#section_two .message .face_img .xianshi {
	display: block
}

#section_two .message ul {
	width: 400px;
	height: 200px;
	position: relative;
	float: left;
	border-bottom: 2px solid #696969;
	border-top: 2px solid #696969
}

#section_two .message ul li {
	cursor: pointer;
	border-bottom: 2px solid #696969;
	width: 100px;
	height: 30px;
	float: left;
	text-align: center
}

#section_two .message ul li a {
	line-height: 30px;
	height: 30px;
	display: block;
	color: #fff;
	font-family: "å¾®è½¯é›…é»‘";
	font-weight: 400
}

#section_two .message ul .bc_color {
	background-color: #696969
}

#section_two .message ul li span {
	display: block;
	height: 170px;
	width: 400px;
	box-sizing: border-box;
	position: absolute;
	top: 30px;
	left: 0;
	font-family: "å¾®è½¯é›…é»‘";
	color: #fff;
	padding: 40px 30px 0 30px;
	font-size: 16px;
	display: none
}

#section_two .message ul li .xianshi {
	display: block
}